<div class = "container">
  <div class = "row">
    <div class = "md-col-12 text-center fs-2 fw-bold" style="color: rgb(211, 62, 62);">Registrati</div>&nbsp;
    <div class = "md-col-12 text-center"><p>Nome</p></div><div class = "md-col-12 text-center"><input type="text"></div>&nbsp;
    <div class = "md-col-12 text-center"><p>Cognome</p></div><div class = "md-col-12 text-center"><input type="text"></div>&nbsp;
    <div class = "md-col-12 text-center"><p>Username</p></div><div class = "md-col-12 text-center"><input type="text"></div>&nbsp;
    <div class = "md-col-12 text-center"><p>Password</p></div><div class = "md-col-12 text-center"><input type="text"></div>

  </div>

</div>



